<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
<div class="center">
<div class="title">Classify Your Yoga Images!</div>
<p>Use images of <strong>yogis</strong> or <strong>yoginis</strong> in these poses</p>
<p><strong>Bridge</strong></p>
<p><strong>Childs</strong></p>
<p><strong>Downward Dog</strong></p>
<p><strong>Mountain</strong></p>
<p><strong>Plank</strong></p>
<p><strong>Seated Downward Bend</strong></p>
<p><strong>Tree</strong></p>
<p><strong>Triangle</strong></p>
<p><strong>Warrior 1 (with hands up)</strong></p>
<p><strong>Warrior 2</strong></p>
<p>Only one person in the pose, please. Use a good angle that you'd use to show someone how to do it.</p>
<div class="content">
<div class="no-display"><input id="file-input" class="no-display" accept="image/*" name="file" type="file" /></div>
<button class="choose-file-button" type="button">Select Image</button>
<div class="upload-label"><label id="upload-label">No file chosen</label></div>
<div><img id="image-picked" class="no-display" alt="Chosen Image" height="200" /></div>
<div class="analyze"><button id="analyze-button" class="analyze-button" type="button">Analyze</button></div>
<div class="result-label">&nbsp;</div>
</div>
</div>
</div>
</body>
</html>
